.center.hero-unit
  %h2 This is the Manticore project, a toy app for exploring semantic interfaces within Rails and Angular JS.
  %h4 Usage: "Marshmallow Man".address
  %div{"ng-controller" => "SearchController"}
    %input#queryBox{"ng-model" => "query", :placeholder => 'your query here. e.g. "Marshmallow Man".address', :type => "text"}/
    = link_to "search", '#', class: "btn btn-large btn-primary"
    %p{"ng-repeat" => "country in all_countries"} {{ country.name }}
    %hr/
    Search results:
    %p{"ng-repeat" => "result in all_results"} {{ result.name }}
= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/'
