<div class="center hero-unit">
  <h2>
    This is the home page for the Manticore project, which is a toy app for exploring semantic interfaces within Rails and Angular JS.
  </h2>

  <input type='text'/> <%= link_to "Start!", '#', class: "btn btn-large btn-primary" %>


</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
