<footer class="footer">
  <small>
    <a href="http://afox.org/">Arctic Fox Computer Consulting</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><a href="mailto:manticore@afox.org">Contact</a></li>
    </ul>
  </nav>
</footer>